@model List<ArchitectGetVM>
@{
    int order = 1;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Image</th>
            <th scope="col">FullName</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var architect in Model)
        {
        <tr>
            <th scope="row">@(order++)</th>
            <td><img width="65" height="65" src="~/images/architect/@architect.ImagePath"/></td>
            <td>@architect.FullName</td>
                <td>@architect.Description</td>

                <td>
                    <a class=" btn btn-primary" asp-action="Update" asp-route-id="@course.Id">Update</a>
                    <a class=" btn btn-danger" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                </td>
        </tr>          
        }
        
    </tbody>

</table>